{% extends "base.html" %}

{% block content %}
    <!-- Header -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                <p class="lead fw-normal text-white-50 mb-0">View your shopping cart</p>
            </div>
        </div>
    </header>
    <div class="container">
        {% if cart_products %}
            {% for product in cart_products %}
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                                        </h5>
                                        <p class="card-text">{{ product.description }}</p>
                                        <p class="card-text">Price: {{ product.price }}</p>
                                        <p class="card-text">Quantity: 1</p>  <!-- Assuming quantity is 1 for simplicity -->
                                        <p class="card-text">Total: {{ product.price }}</p>  <!-- Assuming total is price for simplicity -->
                                        <a href="{% url 'remove_from_cart' product.id %}" class="btn btn-danger">Remove from cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info" role="alert">
                Your cart is empty
            </div>
            <a href="{% url 'home' %}" class="btn btn-primary">Continue Shopping</a>
        {% endif %}
    </div>
    <br/><br/><br/><br/>
{% endblock %}