{% extends "base.html" %}

{% block content %}
    <!-- Header -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About me</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Yared Ecommerce website</p>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <!-- Add your content here -->
                    <p>This is where you can add more information about yourself or your website.</p>
                </div>
            </center>
        </div>
    </div>
{% endblock %}